h1{
    color: purple;
    font-size: 30px;
}
#a{
    
}
#b{
    
}
body{
    background: rgb(157, 174, 223);
}
div.col{
    background:rgba(128, 0, 128, 0.397);
    
}
.row{
    background:chocolate;
}